html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 70px;
    position: fixed;
    z-index: 1;
}

.navigation .logo a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2rem;
    color: white;
    padding: 10px 15px;
}

.logo span {
    color: #dc143c;
}

.navigation-list ul li {
    display: inline-block;
    list-style: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 10px 10px;
    font-family: sans-serif;

}

.navigation-list li a {
    text-decoration: none;
    color: white;
}

.navigation-list li a:hover {
    color: #dc143c;
}



.intro-container {
    width: 100%;
    background-image: url(images/bannernew.jpg);
    background-position: 0 0;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    height: auto;
    flex-flow: row wrap;
    /* align-items: center; */
    justify-content: center;
    padding: 200px 0px 150px 0;
    font-family: sans-serif;
    color: white;
}
.intro-container h1,
p {
    padding: 5px 0;
}

.intro-container h3 {
    font-size: 1.8rem;
    font-weight: lighter;
}

.intro-container h1 {
    font-size: 4rem;
}

.intro-container p {
    font-size: 2.3rem;
}
.intro-div span{
    color: #dc143c;
}
.intro-div  a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    text-transform: capitalize;
    background-color: #dc143c;
    padding: 10px 20px;
    line-height: 80px;
    border-radius: 5px;
    font-family: sans-serif;
}

.intro-div a:hover {
    background-color: black;
    border: 2px solid #dc143c;
    color: white;
    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 10px 0;
    text-transform: capitalize;
    cursor: pointer;
}











.about-container {
    width: 100%;
    padding: 100px 50px;

}
.about-container .background{
    width: 20rem;
    height: 25rem;
    background: #dc143c;
}

.about-container .heading {
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    font-family: 'Pacifico';
    margin: 10px 0;
    position: relative;
}
.about-container .heading::after{
    position: absolute;
    content: "";
    width: 76px;
    height: 3px;
    top: 50%;
    right: 279px;
    margin-top: 7px;
    background: #dc143c;
}
.about-container .heading::before{
    position: absolute;
    content: "";
    width: 76px;
    height: 3px;
    top: 50%;
    right: 550px;
    margin-top: 7px;
    background: #dc143c;
}
.about-container .about-div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 50px 0;
}

.about-container .pic {
    width: 20rem;
    height: 25em;
    margin-top: 15px;
    margin-left: 10px;
}

.about-container .about {
    width: 35rem;
    margin-top: 50px;

}

.about h1 {
    font-weight: 600;
    font-family:  cursive;
    font-size: 1.4rem;
    margin: 0 0 10px 0;
}

.about p {
    font-size: 1.1rem;
    font-weight: lighter;
    font-family: helvetica;
    line-height: 26px;
    letter-spacing: 0.7px;
    text-align: justify;
    color: black;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-bottom: 10px;
}






.skill-container {
    width: 100%;
    padding: 70px 50px 30px 50px;
    background: #000;
    color: white;

}

.skill-container .heading {
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    font-family: 'Pacifico';
    margin: 20px 0;
    position: relative;
}
.skill-container .heading::after{
    position: absolute;
    content: "";
    width: 76px;
    height: 3px;
    top: 50%;
    right: 290px;
    margin-top: 1px;
    background: white
}
.skill-container .heading::before{
    position: absolute;
    content: "";
    width: 76px;
    height: 3px;
    top: 50%;
    right: 542px;
    margin-top: 1px;
    background: white;
}
.skill-container .skill-div {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.skill-container .skill-list {
    width: 25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.skill-list span {
    text-align: center;
    font-size: 1rem;
    width: 5rem;
    height: auto;
    margin: 17px;
    font-family: sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.skill-container .skill {
    width: 25rem;
}

.skill h1 {
    font-weight: lighter;
    padding: 10px 0;
    font-family:cursive;
    font-size: 2rem;
}


.skill p {
    font-size: 1rem;
    font-weight: lighter;
    font-family: sans-serif;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: justify;
}

.skill-left{
    width: 25rem;
}
.skills{
    background-color: #000;
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skill-bar{
    margin-bottom: 2rem;

}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

}
.info p{
    font-family: sans-serif;
    font-size: 1.2rem;
}
.info img{
    width: 10%;
    height: 10%;
}
.bar{
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0px 5px #dc143c;
    margin-top: 4px;
    position: relative;
}

.bar span{
    height: 100%;
    position: absolute;
    background-color: #dc143c;
    border-radius: 20px;
    box-shadow: var(--neon-box-shadow);
}
.html{
    width: 72%;
}
.css{
    width: 81%;
}
.js{
    width: 70%;
}
.Bootstrap{
    width: 79%;
}





#project-section{
    width: 100%;
    margin: 50px 0;
}

.project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

}
.project-heading h1{
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    font-family: 'Pacifico';
    margin: 20px 0;
    font-weight: 600;
    position: relative;
}
.project-heading h1::after{
    position: absolute;
    content: "";
    width: 76px;
    height: 3px;
    top: 50%;
    right: -83px;
    margin-top: 2px;
    background: #dc143c;
}
.project-heading h1::before{
    position: absolute;
    content: "";
    width: 76px;
    height: 3px;
    top: 50%;
    right: 210px;
    margin-top: 1px;
    background: #dc143c;
}
.project-content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}
.project-content .card{
    width: 19rem;
    height: 15rem;
    margin: 30px 10px;
    padding: 20px 10px;
    position: relative;
    background-color: #000;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-content .card-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
    width: 97%;
    padding: 0px 10px;
    
}


.project-content .card-content img {
    width: 100%;
    height: 100%;
    border: 1px solid #dc143c;
    border-radius: 5px;
    transition: 0.5s;
    
}
.card-content .img{
    width: 100%;
    border: 2px solid #dc143c;
    border-radius: 5px;
    height: 12rem;
    overflow: hidden;
    transition: 0.6s ease;
}

.project-content h3 {
    text-transform: capitalize;
    padding: 50px 0 10px 0;
    font-size: 1.7rem;
    margin: 0;
    letter-spacing: 0;
    font-family: cursive;
    color: #f3f1f1;
    text-align: center;
    line-height: 27px;
}

.project-content p {
    text-align: center;
    margin: 0;
}
.card-description{
    position: absolute;
    background-color: #dc143c;
    transition: 0.5s;
    background: linear-gradient(rgba(0,0,0,.2),#dc143c);
    width: 83%;
    height: 90%;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    flex-flow: column ;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    transition: 0.5s;
    opacity: 0  ;
}
.card:hover .card-description{
    opacity: 1;
}
.card:hover img{
    opacity: 0.5;
}
.card:hover .card-content img{
    transform: scale(1.1);
}
.project-content button {
    background-color: black;
    border: 1px solid #dc143c;
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 10px 0;
    text-transform: capitalize;
    cursor: pointer;
}
.project-content a{
    text-decoration: none;
    color: white;
}

.project-content button:hover {
    background-color: #dc143c;
}


.contact-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 100px 50px;
    background-color: black;
    font-family: sans-serif;
}

.contact-inform-div {
    width: 30rem;
    color: white;
    align-items: left;
    margin-top: 50px;
}

.contact-inform-div .head {
    font-size: 2.5rem;
    font-family: system-ui;
    font-weight: lighter;
}

.Discuss {
    font-size: 1.2rem;
    font-weight: lighter;
    color: #a7a7a7;
}

.address {
    font-size: 1.3rem;
    font-weight: lighter;
    font-family: system-ui;
    margin: 10px 0;
}

.msg {
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 10px 0;
}

.social-link li {
    display: inline-block;
    margin: 10px 5px;
}

.social-link a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.social-link a:hover {
    color: #dc143c;
}


.contact-form {
    width: 25rem;
    margin-top: 50px;
}

.contact-form h3 {
    color: white;
    font-family: sans-serif;
    margin: 0 0 10px 0;
    font-size: 1.3rem;

}

.contact-form #subject,
textarea {
    text-transform: capitalize;
    width: 100%;
    font-size: 1rem;
    padding: 15px 10px;
    background-color: #3e3c3c;
    color: #504e4e;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
}

.name-email {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contact-form #name,
#email {
    width: 48%;
    display: inline-block;
    font-size: 1rem;
    padding: 15px 10px;
    background-color: #3e3c3c;
    color: #504e4e;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    text-transform: capitalize;
}

.contact-form button {
    background-color: black;
    border: 2px solid #dc143c;
    color: white;
    padding: 10px 25px;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: 10px 0;
    text-transform: capitalize;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #dc143c;
}